on fs
    wait /dev/block/platform/soc/1da4000.ufshc
    symlink /dev/block/platform/soc/1da4000.ufshc /dev/block/bootdevice

on init
    setprop sys.usb.controller "a800000.dwc3"
    setprop sys.usb.configfs 1
