allow servicemanager ifaadaemon:dir { search };
allow servicemanager ifaadaemon:file { r_file_perms };
allow servicemanager ifaadaemon:process { getattr };
