on init
    chown system graphics /sys/devices/virtual/graphics/fb0/adaption_mode
    chown system graphics /sys/devices/virtual/graphics/fb0/dci_p3
    chown system graphics /sys/devices/virtual/graphics/fb0/oneplus_mode
    chown system graphics /sys/devices/virtual/graphics/fb0/srgb
    chmod 0660 /sys/devices/virtual/graphics/fb0/adaption_mode
    chmod 0660 /sys/devices/virtual/graphics/fb0/dci_p3
    chmod 0660 /sys/devices/virtual/graphics/fb0/oneplus_mode
    chmod 0660 /sys/devices/virtual/graphics/fb0/srgb

on post-fs-data
    mkdir /data/vendor/display/ 0770 system graphics

service vendor.livedisplay-hal-2-0 /vendor/bin/hw/vendor.lineage.livedisplay@2.0-service.oneplus_msm8998
    class late_start
    user system
    group system
