on init
    chown system graphics /sys/devices/virtual/graphics/fb0/preset
    chmod 0660 /sys/devices/virtual/graphics/fb0/preset

on post-fs-data
    mkdir /data/vendor/display/ 0770 system graphics

service vendor.livedisplay-hal-2-0 /vendor/bin/hw/vendor.lineage.livedisplay@2.0-service.oneplus_msm8998
    class late_start
    user system
    group system
